.profile > div{
    display: flex;
    /* position: relative; */
    /* max-width: 1440px; */
    /* margin: auto; */

}

.profile-footer{
    position: relative;
}

.list{
    display: block !important;
}

