.add {
  max-width: 1440px;
  width: auto;
  margin: 1rem auto;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 0.25rem;
  box-shadow: (--shadow-md);
}
.add > form {
  display: flex;
  width: 40rem;
  flex-direction: column;
  margin: 2rem 4rem;
}
.add > form label {
  margin: 2rem 0.25rem !important;
}

.add > form > input,
textarea {
  /* flex-basis: 10%; */
  margin: 0.25rem 0.25rem 1rem 0.25rem;
  max-width: 40rem;
  width: auto;
  padding: 0.5rem;
  font-size: 16px;
  font-weight: 500;
  border-radius: 0.25rem;
  /* box-shadow: var(--shadow-md) ; */
  background-color: lightgrey;
  /* outline: none; */
  border: 1px solid lightgray;
}

.add > form > input:focus,
textarea:focus {
  border: 1px solid gray;
  background-color: white;
  outline: none;
}

.add > form > button {
  /* max-width: 10rem !import ant; */
  margin: 0rem 0.5rem;
  align-self:flex-end;
  padding: 0.75rem 1rem;
border: none;
border-radius: 9999px;
  background-color: #0057ff;
  transition: all 0.3s ease;
  color: white;
  font-size: 1rem;
cursor: pointer;
  

}

.add > form > button:hover{
  background-color: #0048d6;
}

.add-input__image {
  all: unset !important;
  margin: 1rem 0rem !important;
  background-color: #fff;
  
}

@media screen and (max-width: 1440px) {
  .add {
    margin: 1rem;
  }
  
}
