.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    color: white;
    z-index: 50;
    font-size: 40px;
    margin: auto !important ;
    max-width: 4000px;
  }
      