* {
  margin: 0;

}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 18px;
}
p {
  font-size: 16px;
  line-height: 1.375em;
}

:root {
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1440px;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

@media screen and (max-width:768px) {
  h1 {
    font-size: 40px !important;
    line-height: 1.125em;
  }
  h2 {
    font-size: 32px !important;
    line-height: 1.25em;
  }
  h3 {
    font-size: 24px !important;
    line-height: 1.25em;
  }
  h4 {
    font-size: 18px !important;
    line-height: 1.222em;
  }
  p {
    font-size: 16px !important;
    line-height: 1.25em;
  }
}